@model RegistrationViewModel
@{
    ViewBag.Title = "Registrations";
}

@if (TempData["message"] != null)
{
    <h1>@TempData["message"]</h1>
}

<div asp-validation-summary="All" class="text-danger"></div>

<h1>Customer: @Model.Customer.Firstname @Model.Customer.Lastname</h1>

<form asp-action="GetCustomer">
    <button type="submit">Switch Customer</button>
</form>

<h1>Registrations</h1>
@if (Model.Registrations.Count != 0)
{
    <table>
        <thead>Products</thead>
        <tbody>
            @foreach (Registration r in Model.Registrations)
            {
                <tr>
                    <td>@r.Product.Name</td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@r.RegistrationId" class="btn btn-danger">Delete</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>

}
else
{
    <h1>No Products Registered</h1>
}


<h1>Products</h1>
<form asp-action="AddRegistration" onsubmit="return registerProductValidation()">
    <select class="form-control" name="id" id="registerProductSelect">
        <option value="default">Select a Prouduct</option>
        @foreach (Product p in Model.Products)
        {
            <option value="@p.ProductId">@p.Name</option>
        }
    </select>
    <button type="submit">Register</button>
</form>