@model IncidentViewModel
@{
    ViewBag.Title = ViewBag.Action + " Incident";
}

<h1>@ViewBag.Action Incident</h1>
<form asp-action="Edit" method="Post" onsubmit="return incidentValidation()">
    <div class="form-group">
        <label asp-for="CurrentIncident.CustomerId">Customer</label>
        <select asp-for="CurrentIncident.CustomerId" class="form-control" id="customerSelect">
            <option value="">Select a Customer</option>
            @foreach (Customer c in Model.Customers)
            {
<option value="@c.CustomerId">@c.Firstname @c.Lastname</option>            }
        </select>
        <span asp-validation-for="CurrentIncident.CustomerId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CurrentIncident.ProductId">Product</label>
        <select asp-for="CurrentIncident.ProductId" class="form-control" id="productSelect">
            <option value="">Select a Product</option>
            @foreach (Product p in Model.Products)
            {
                <option value="@p.ProductId">@p.Name</option>
            }
        </select>
        <span asp-validation-for="CurrentIncident.ProductId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CurrentIncident.Title">Title</label>
        <input asp-for="CurrentIncident.Title" class="form-control" />
        <span asp-validation-for="CurrentIncident.Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CurrentIncident.Description">Description</label>
        <input asp-for="CurrentIncident.Description" class="form-control" />
        <span asp-validation-for="CurrentIncident.Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CurrentIncident.TechnicianId">Tehcnician</label>
        <select asp-for="CurrentIncident.TechnicianId" class="form-control" id="technicianSelect">
            <option value="">Select a Technician</option>
            @foreach (Technician t in Model.Technicians)
            {
    <option value="@t.TechnicianId">@t.Name</option>
}
        </select>
        <span asp-validation-for="CurrentIncident.TechnicianId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CurrentIncident.DateOpened">Date Opened</label>
        <input asp-for="CurrentIncident.DateOpened" type="text" value="@Model.CurrentIncident.DateOpened.ToString("MM'/'dd'/'yyyy")" class="form-control" id="open" />
        <span asp-validation-for="CurrentIncident.DateOpened" class="text-danger"></span>
        <!--Date validation-->
        <asp:CompareValidator ID="dateValidator" runat="server"
                              ControlToValidate="open"
                              ErrorMessage="Please enter a valid date."
                              Operator="DataTypeCheck"
                              Type="Date">
        </asp:CompareValidator>
    </div>

    <div class="form-group">
        <label asp-for="CurrentIncident.DateClosed">Date Closed</label>
        <input asp-for="CurrentIncident.DateClosed" type="text" value="@Model.CurrentIncident.DateClosed.ToString()" class="form-control" />
    </div>

    <input type="hidden" asp-for="CurrentIncident.IncidentId" />
    <input type="hidden" asp-for="Customers" />
    <input type="hidden" asp-for="Products" value="@Model.Products" />
    <input type="hidden" asp-for="Technicians" />
    <input type="hidden" asp-for="Incidents" />
    <input type="hidden" asp-for="Action" />

    <button type="submit" class="btn btn-primary">@Model.Action</button>
    <a asp-controller="Incident" asp-action="List" class="btn btn-primary">Cancel</a>
</form>
