@model Incident

<h1>Edit Incident</h1>
<form asp-action="Edit" method="post">
    <div class="form-group">
        <label>Technician</label>
        <input class="form-control" value="@Model.Technician.Name" readonly />
    </div>

    <div class="form-group">
        <label>Customer</label>
        <input class="form-control" value="@Model.Customer.Firstname @Model.Customer.Lastname" readonly />
    </div>
    
    <div class="form-group">
        <label>Product</label>
        <input class="form-control" value="@Model.Product.Name" readonly />
    </div>

    <div class="form-group">
        <label>Title</label>
        <input class="form-control" value="@Model.Title" readonly />
    </div>
       
    <div class="form-group">
        <label>Date Opened</label>
        <input class="form-control" type="text" value="@Model.DateOpened.ToString("MM'/'dd'/'yyyy")" class="form-control" readonly />
    </div>

    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input class="form-control" type="text" asp-for="Description" value="@Model.Description" />
    </div>
    
    <div class="form-group">
        <label asp-for="DateClosed">Date Closed</label>
        <input class="form-control" type="text" asp-for="DateClosed" value="@Model.DateClosed" />
    </div>
    
        <input type="hidden" asp-for="IncidentId" value="@Model.IncidentId" />
        <input type="hidden" asp-for="TechnicianId" value="@Model.TechnicianId" />
        <input type="hidden" asp-for="ProductId" value="@Model.ProductId" />
        <input type="hidden" asp-for="CustomerId" value="@Model.CustomerId" />
        <input type="hidden" asp-for="Title" value="@Model.Title" />
        <input type="hidden" asp-for="DateOpened" value="@Model.DateOpened" />

        <button type="submit" class="btn btn-primary">Edit</button>
        <a asp-controller="TechIncident" asp-action="List" class="btn btn-primary">Cancel</a>
</form>