@model List<Technician>
@{
    ViewBag.Title = "Technician Manager";
}

<h1>Technicians</h1>

<table class="table table-bordered table-striped">
    <thread>
        <tr>
            <th>Name</th>
            <th>Email Name</th>
            <th>Phone</th>
            <th></th>
            <th></th>
        </tr>
    </thread>
    <tbody>
        @foreach (var Technician in Model)
        {
            <tr>
                <td>@Technician.TechnicianId </td>
                <td>@Technician.Email</td>
                <td>@Technician.Phone</td>
                <td>
                    <a asp-controller="Technician" asp-action="Edit" asp-route-id="@Technician.TechnicianId"
                       asp-route-slug="@Technician.Slug" class="btn btn-primary">Edit</a>
                </td>
                <td>
                    <a asp-controller="Technician" asp-action="Delete" asp-route-id="@Technician.TechnicianId"
                       asp-route-slug="@Technician.Slug" class="btn btn-primary">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="d-flex justify-content-lg-between">
    <a asp-controller="Home" asp-action="Index" class="mb-2 btn btn-primary">Back</a>
    <a asp-controller="Technician" asp-action="Add" class="btn btn-primary">Add Technician</a>
</div>
